*
{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body
{
    background-color: #272d2d;
    overflow: auto;
    margin: 0;
    padding: 0;
}

button
{
    appearance: none;
    background-color:azure;
    border: 2px solid azure;
    border-radius: 10px;
    transition: 0.2s border linear;
    min-width: 100%;
    width: 100%;
    margin: 0.5em auto;
}

button:hover
{
    border: 2px solid #272d2d;
}

button:active
{
    transition: 0s border linear;
    border: 2px solid #b8c5d6;
}

input
{
    appearance: none;
    width: 1em;
    height: 1em;
    border: 1px solid azure;
    border-radius: 50%;
    transition: 0.1s all linear;
}

input:checked
{
    border: 0.40em solid azure;
}

#color-picker
{
    width: 2em;
    margin-right: 0.5em;
    border-radius: 5px;
}

#color-controls
{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    margin: 0 auto;
}

.color-radio
{
    display: flex;
    margin-bottom: 1em;
}

.grid-cell
{
    background-color: white;
    width: 100%;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

#flex-wrapper
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    height: 100%;
    margin: 0;
    padding: 0;
}

#content
{
    background-color: #707982; 
    color: #eaf2fa;
    border: 10px solid #b8c5d6;
    border-radius: 20px;
    width: auto;
    min-height: 45vw;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 10px 10px slategray;
}

header
{
    margin-top: 2em;
    font-size: 1.2em;
    width: 100%;
    color: #e0e9f3;
}

footer
{
    margin-bottom: 2em;
    width: 100%;
    color: #e0e9f3;
}

#grid-controls
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: 0 1em;
}

#container
{
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-radius: 5px;
    min-width: 40vw;
    min-height: 40vw;
    display: grid;
    gap: 0px;
    margin-right: 1em; 
}